.App{
    background-color: #464a53;
    min-height: 100vh;
}
.all-card{
    gap: 40px;
}

.card{
    background-color: #464a53;
    border: 1px solid #464a53;
    border-radius: 0;
    color: #fff;
    width: 100px !important;
    height: 12vh !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#searchBar{
    background-color: #fff;
    border-radius: 20px;
    height: 30px !important;
}

/* .general-usage-card{
    display: none;
} */

.info-intro{
    width: 50% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}




.usage-card {
    width: 70%; /* Adjust the width as needed */
    height: 70vh !important;
    background-color: #fff !important;
    border-radius: 20px;
    position: fixed; /* Use fixed positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9;
    top: 50%; /* Center vertically at 50% from the top */
    left: 50%; /* Center horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the element precisely */
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.3);
}


 .icon-area{
        width: 50% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
 }

@media (max-width: 600px) {
    .header{
        display: flex;
        flex-direction: column !important ;
        width: 100% !important;
        align-items: center;
    }

    #searchBar{
        width: 100% !important;
        height: 20px !important;
    }


    
}